<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public/layui/layui.js"></script>
<script src="/Public/layui/adsbygoogle.js"></script>
<link rel='stylesheet' type='text/css' href="/Public/bootstrap/css/bootstrap.min.css">
<link rel='stylesheet' type='text/css' href="/Public/layui/css/layui.css">
<script type="text/javascript">
    document.write('<link rel="stylesheet" href="/Public/css/demo/index.css?time='+new Date().getTime()+'"/>');
    document.write('<script type="text/javascript" src="/Public/js/demo/index.js?time='+new Date().getTime()+'"><'+'/'+'script>')
</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

